body {
    font-family: "Poppins", sans-serif;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.customHover {
    transition: transform 0.3s ease;
}

.customHover:hover {
    transform: scale(1.2);
}